.bg-gradient-x-danger {
  @include background-gradient-to-right(#ec3f8c, #ff8fc1);
}
.progress-sm {
  height: 0.3rem !important;
  width: 80%;
}
.progress-bar {
  background-color: #fff;
}
.progress-bar-full {
  @include background-gradient-to-right(#324bc3, #5f7bff);
}
