$paidColor: #28d094;
$declinedColor: #ec3f8c;
$pendingColor: #fad02c;

.paid {
  color: $paidColor;
}
.declined{
    color: $declinedColor;
}
.pending{
    color: $pendingColor;
}

#recent-sale {
  td:first-child {
    color: #324bc3;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 25px;
  }
  th:first-child {
    padding-left: 25px;
  }
  td {
    width: calc(100% / 7);
  }
  > .card {
    border: none;
    .card-header {
      .heading-elements {
        a {
          //   padding: 0 8px;
          font-weight: bold;
          background-image: linear-gradient(to left, #ec3f8c, #324bc3);
          font-size: 14px;
          text-align: center;
          color: #ffffff;
        }
      }
    }
    .card-body {
      .table thead th {
        background-color: rgba(238, 244, 249, 0.15);
        border-bottom: 1px solid #dee2e6;
      }
      table tbody {
        color: $dark-gray;
      }
    }
  }
}
