@import "./variable.scss";
@import "./mixin.scss";
@import "./sidebar.scss";
@import "./navbar.scss";
@import "./overviewCard.scss";
@import "./actitities.scss";
@import "./table/index.scss";
@import "./button/button.scss";
body{
    font-family: 'Lato', sans-serif;
    a{
        text-decoration: none !important;
        color: $black-color;
        &:hover{
            color: $black-color;
        }
    }
    .wrapper {
        top: 0;
        min-height: 100vh;
        position: relative;
    }
    
    
}