@import "./variable.scss";
@import "./mixin.scss";
@import "./sidebar.scss";
@import "./navbar.scss";
@import "./overviewCard.scss";
@import "./actitities.scss";
@import "./table/index.scss";
@import "./button/button.scss";
.box-shadow-2 {
  box-shadow: 0 10px 18px 0 rgba(62, 57, 107, 0.2);
}
.round {
  border-radius: 1.5rem;
}
.btn-min-width {
  min-width: 8.5rem;
}
.pull-right {
  float: right;
}
body {
  font-family: "Lato", sans-serif;
  a {
    text-decoration: none !important;
    color: $black-color;
    &:hover {
      color: $black-color;
    }
  }
  .wrapper {
    top: 0;
    min-height: 100vh;
    position: relative;
  }
}
