$DEEP-ORANGE: #e84118;
$ONEDARD: #333652;
.navbar {
  .navbar-logo {
    a > i {
      font-size: $font-size-icon-small;
    }

    &-text {
      font-weight: 600;
      font-size: 18px;
    }
  }
  .common-count {
    background-image: linear-gradient(309deg, #ec3f8c, #324bc3);
    color: #ffffff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #fff;
  }

  .notification {
    padding: 0px 15px;
    cursor: pointer;
    position: relative;
    > i {
      color: #9fb6c3;
      font-size: 23px !important;
      line-height: 24px !important;
      &:hover {
        color: #6f7e87;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
    }
    .count1 {
      position: absolute;
      top: 2px;
      width: 15px;
      font-size: 10px;
      height: 15px;
      padding-top: 0px;
      left: 13px;
    }
    .count2 {
      font-weight: bold;
      width: 26px;
      height: 26px;
      background: #ffffff;
      color: #333652;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      border-radius: 30px;
      text-align: center;
      border: 1px solid #fff;
    }
    > .dropdown-menu {
      &::before {
        content: "";
        position: absolute;
        top: -2%;
        width: 0;
        right: 40px;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #d24194;
      }
      margin: 1rem 0 0;
      border-radius: 3px;
      transform: translateX(-80%);
      padding: 0;
      border: none;
      width: 400px;
      .card {
        border: none;
        box-shadow: 0px 8px 25px 0 rgba(16, 17, 43, 0.15);
      }
      .card-header {
        @include background-gradien-to-right(#324bc3, #ec3f8c);
        color: $white-color;
        font-weight: bold;
      }
    }
    ul {
      padding: 0;
      list-style-type: none;
      li {
        margin-bottom: 25px;
      }
    }
    .il {
      display: inline-block;
    }
    .fr {
      float: right;
    }
    .card-footer {
      font-weight: bold;
      color: $purple-color-text;
      border-top: 1px solid #f0f0f0;
      background-color: #ffffff;
      text-align: center;
    }
  }

  // search box
  &-nav-search {
    .search {
      padding: 0px 15px;
      
      &-box {
        position: relative;
        i {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 23px !important;
          line-height: 24px !important;
        }
        background-image: rgba(255, 255, 255, 255);
        border-radius: 40px;
        padding: 10px;
        .search-txt {
               width: 340px;
              padding: 0 3px;
              border: 1px solid #324bc3;
              border-radius: 20px;
              color: $black-color;
           }
        // &:hover {
        //   background-image: linear-gradient(309deg, #ec3f8c, #324bc3);
        //   .search-txt {
        //     width: 340px;
        //     padding: 0 3px;
        //   }
        //   .search-btn {
        //     background: white;
        //   }
        // }
      }
      &-btn {
        color: $ONEDARD !important;
        float: right;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-txt {
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 30px;
        width: 0px;
        &::placeholder {
          color: #ffffff;
        }
      }
    }
  }
  // user button dropdown
  .user {
    &-btn {
      padding: 0px 15px;
      &-image {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border-width: 2px;
        border-color: #ffff;
        box-shadow: 0px 7px 30px 0 rgba(18, 18, 74, 0.4);
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }
}

// hiden sidebar

.expand-sidebar {
  //  transition: 0.2s;
  // position: fixed;
  // z-index: 99999999999999;
  // background: white;
  // width: calc(100% - 25px);
   width: calc(100% - 60px);
}

// .crolling-nav {
//   position: fixed;
//   z-index: 99999999999999;
//   background: white;
//   width: calc(100% - 270px);
// }
