
.overviews-header {
  padding-left: 15px;
  padding-bottom: 25px;
}
.overview-card {
  padding: 12px 19px;
  width: 377px;
  height: 200px;
  border-radius: 3px;
  color: $white-color;
  position: relative;
  .title {
    text-transform: uppercase;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffefe0;
  }
  .number {
    text-transform: uppercase;
    font-family: Lato;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  &-logo {
    > i {
      font-size: $font-size-icon-supper;
    }
  }
  .area-chart {
    width: calc(100% - 38px);
    position: absolute;
    bottom: 19px;
    // .chart {
    //   max-height: 100px;
    // }
  }
}


.card-orange {
  background-image: $orange-linear;
  &::before {
    width: 90%;
    height: 150px;
    @include blurShadow($orange-linear);
  }
}
.card-blue {
  background-image: $blue-linear;
  &::before {
    width: 90%;
    height: 150px;
    @include blurShadow( $blue-linear);
  }
}
.card-green {
  background-image: $green-linear;
  &::before {
    width: 90%;
    height: 150px;
    @include blurShadow( $green-linear);
  }
}
.card-pink {
  background-image: $pink-linear;
  &::before {
    width: 90%;
    height: 150px;
    @include blurShadow( $pink-linear);
  }
}