.sidebar {
  //scroll bar
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @include color-gradient-to-top(#ec3f8c, #324bc3);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @include color-gradient-to-top(#ec3f8c, #324bc3);
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @include color-gradient-to-top(#ec3f8c, #324bc3);
  }
  // end scroll bar
  transition: 0.5s;
  position: fixed;
  top: 0;
  bottom: 0;
  right: auto;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
  background-size: cover;
  background-position: center center;
  background-image: url("../static/img/sidebar-5.jpg");
  .sidebar-wrapper {
    transition: 0.5s;
    position: relative;
    max-height: calc(100vh - 75px);
    min-height: 100%;
    overflow: auto;
    width: 260px;
    z-index: 4;

    padding-bottom: 100px;
  }
  .logo {
    padding: $navbar-padding-a;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    .svg {
      width: 30px;
      height: 30px;
      // font-size: $font-size-icon-large;
      // position: relative;
      // top: 2px;
    }
    .svg path{
      fill: url(#white-gradient) #ffff;
    }
    &-text {
      padding: 0 8px;
      color: $white-color;
    }
    p {
      float: left;
      font-size: 20px;
      margin: 10px 10px;
      color: $white-color;
      line-height: 20px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .simple-text {
      text-transform: uppercase;
      padding: $padding-small-vertical $padding-zero;
      display: block;
      font-size: $font-size-large;
      color: $white-color;
      text-align: center;
      font-weight: $font-weight-bold;
      line-height: 30px;
    }
  }
  .nav.collapse,
  .nav.collapsing {
    margin: 20px 15px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.34);
  }
  .nav {
    // i {
    //   line-height: 36px !important;
    // }
    margin-top: 20px;
    float: none;
    .collapse > li,
    .collapsing > li {
      width: 100%;
      text-align: center;
      a {
        font-size: $font-size-medium;
        font-weight: 600;
      }
      > a:hover {
        color: $light-gold;
      }
    }
    li {
      > a {
        padding: 6px 15px;
        color: #ffffff;
        margin: 5px 15px;
        opacity: 0.86;
        display: block;
        position: relative;
      }
      > a.has-arrow:after {
        position: absolute;
        content: "";
        width: 7px;
        height: 7px;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        border-style: solid;
        border-color: #fff;
        margin-left: 10px;
        -webkit-transform: rotate(45deg) translate(0, -50%);
        -ms-transform: rotate(45deg) translate(0, -50%);
        -o-transform: rotate(45deg) translate(0, -50%);
        transform: rotate(45deg) translate(0, -50%);
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
        top: 18px;
        right: 15px;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
      > a.has-arrow.collapsed:after {
        -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
        -o-transform: rotate(-45deg) translate(0, -50%);
        transform: rotate(-45deg) translate(0, -50%);
      }
      &.active {
        .svg path{
          fill: url(#my-cool-gradient)  #447799;
        }
        // i {
        //   color: #ec3f8c;
        // }
      }
      &.active > .has-arrow {
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: 0px 7px 30px 0 rgba(18, 18, 74, 0.4);
        color: #222222;
      }
      &.active > a:after {
        border-color: #222222;
      }
    }

    p {
      margin: 0;
      line-height: 30px;
      font-size: $font-size-medium;
      font-weight: 600;
      // text-transform: uppercase;
      margin-left: 45px;
    }
    .nav-custom-icon {
      width: 21px;
      margin-right: 10px;
    }
    .svg path{
      fill: url(#white-gradient) #ffff;
    }
    // i {
    //   font-size: 22px;
    //   float: left;
    //   margin-right: 15px;
    //   line-height: 30px;
    //   width: 30px;
    //   text-align: center;
    //   color: $white-color;
    //   // color: #ec3f8c;
    //   // @include color-gradient-to-top(#ec3f8c, #324bc3);
    // }

    // .caret{
    //     margin-top: 13px;
    //     position: absolute;
    //     right: 30px;
    // }
  }
  &:after,
  &:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &:before {
    opacity: 0.33;
    background: #000000;
  }

  &:after {
    @include icon-gradient($black-color-top, $black-color-bottom);
    z-index: 3;
    opacity: 1;
  }
  &[data-image]:after,
  &.has-image:after {
    opacity: 0.77;
  }
  &[data-color="blue"]:after {
    @include icon-gradient($new-dark-blue, $blue-color-bottom);
  }
  &[data-color="azure"]:after {
    @include icon-gradient($new-blue, $azure-color-bottom);
  }
  &[data-color="green"]:after {
    @include icon-gradient($new-green, $green-color-bottom);
  }
  &[data-color="orange"]:after {
    @include icon-gradient($new-orange, $orange-color-bottom);
  }
  &[data-color="red"]:after {
    @include icon-gradient($new-red, $red-color-bottom);
  }
  &[data-color="purple"]:after {
    @include icon-gradient-to-top($purple-color-top, $purple-color-bottom);
  }
  &[data-color="pink"]:after {
    @include icon-gradient-to-top($pink-color-top, $pink-color-bottom);
  }
}
.main-panel {
  position: relative;
  z-index: 2;
  float: right;
  width: $sidebar-width;
  > .content {
    padding: 30px 15px;
    min-height: calc(100% - 123px);
    width: calc(100% - 123px);
  }

  > .footer {
    border-top: 1px solid #e7e7e7;
  }

  .navbar {
    margin-bottom: 0;
  }
}

.sidebar,
.main-panel {
  max-height: 100%;
  height: 100%;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}

// hiden sidebar

.sidebar-hiden {
  // transition: 0.2s;
  width: 75px;
  > .sidebar-wrapper {
    .logo-text {
      display: none;
    }
    width: 75px;
    // >.logo a{
    //   display: none;
    // }
    > .nav {
      li {
        > a.has-arrow:after {
          display: none;
        }
        p {
          display: none;
        }
        > a {
          padding: 6px 6px;
        }
      }
      li.active {
        > .has-arrow {
          background: none;
          box-shadow: none;
        }
      }
    }
  }
}
