//=========================================================================//
/*=========================Start  Styling Toggle-Switch====================*/
//=========================================================================//
.toggle-switch input {
  display: block;
  height: 9px;
  opacity: 0;
}

.toggle-switch label {
  margin-bottom: unset !important;
  width: 36px;
  height: 20px;
  background: #ccc;
  border-radius: 50px;
  display: inline-block;
  position: relative;
}

.toggle-switch label:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: left 0.3s ease-out;
}

.toggle-switch input[id="togle-swith"]:checked + label:after {
  left: 18px;
}

.toggle-switch input[id="togle-swith"]:checked + label {
  background-color: rgba(0, 0, 0, 0.3);
}
/*End  Styling Toggle-Switch*/

//=========================================================================//
///==========================simple checkbox ==============================//
//=========================================================================//

@mixin simpleCheckbox($bgColor) {
  .basic-checkbox,
  .custom-checkbox {
    display: flex;
  }
  .basic-checkbox.flex-space-between,
  .custom-checkbox.flex-space-between {
    display: flex;
    justify-content: space-between;
  }
  .basic-checkbox {
    .container-checkbox {
      position: relative;
      padding: 7px 15px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin-bottom: unset !important;
    }

    .container-checkbox input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 18px;
      width: 18px;
      background-color: #ffffff;
      border-radius: 3px;
      border: 1px solid #d5d5d5;
    }

    .checkmark.disabled {
      opacity: 0.5;
      background-color: #c7c7c7;
    }

    .container-checkbox:hover input ~ .checkmark {
      background-color: #ccc;
    }

    .container-checkbox input:checked ~ .checkmark {
      border: 1px solid $bgColor;
      background-color: #ffff;
    }
    .container-checkbox input:checked ~ .checkmark.disabled {
      opacity: 0.5;
      border: 1px solid #d5d5d5;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .container-checkbox input:checked ~ .checkmark:after {
      display: block;
    }

    .container-checkbox .checkmark:after {
      left: 5px;
      top: 2px;
      width: 6px;
      height: 10px;
      border: solid $bgColor;
      border-width: 0px 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .container-checkbox .checkmark.disabled:after {
      left: 5px;
      top: 2px;
      width: 6px;
      height: 10px;
      border: solid#a8a8a8;
      border-width: 0px 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
.purple-basic-checkbox {
  @include simpleCheckbox(#dad3e9);
}
.green-basic-checkbox {
  @include simpleCheckbox(#04e262);
}
.pink-basic-checkbox {
  @include simpleCheckbox(#ff5da5);
}
.blue-basic-checkbox {
  @include simpleCheckbox(#00bdfb);
}
.light-purple-basic-checkbox {
  @include simpleCheckbox(#5f7bff);
}
.orange-basic-checkbox {
  @include simpleCheckbox(#ff9d00);
}
//=========================================================================//
//=================================end simple checkbox =====================//
//=========================================================================//

//=========================================================================//
// =======================start custom checkbox ============================//
//=========================================================================//
@mixin customCheckbox($bgColor) {
  .custom-checkbox {
    .container-checkbox {
      position: relative;
      padding: 7px 15px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin-bottom: unset !important;
    }

    .container-checkbox input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 18px;
      width: 18px;
      background-color: #ffffff;
      border-radius: 3px;
      border: 1px solid #d5d5d5;
    }

    .checkmark.disabled {
      opacity: 0.5;
      background-color: #c7c7c7;
    }

    .container-checkbox:hover input ~ .checkmark {
      background-color: #ccc;
    }

    .container-checkbox input:checked ~ .checkmark {
      border: 1px solid #ffff;
      background-color: $bgColor;
    }
    .container-checkbox input:checked ~ .checkmark.disabled {
      opacity: 0.5;
      border: 1px solid #d5d5d5;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .container-checkbox input:checked ~ .checkmark:after {
      display: block;
    }

    .container-checkbox .checkmark:after {
      left: 5px;
      top: 2px;
      width: 6px;
      height: 10px;
      border: solid #ffff;
      border-width: 0px 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .container-checkbox .checkmark.disabled:after {
      left: 5px;
      top: 2px;
      width: 6px;
      height: 10px;
      border: solid#a8a8a8;
      border-width: 0px 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
.purple-custom-checkbox {
  @include customCheckbox(#6d47b2);
}
.green-custom-checkbox {
  @include customCheckbox(#04e262);
}
.pink-custom-checkbox {
  @include customCheckbox(#ff5da5);
}
.blue-custom-checkbox {
  @include customCheckbox(#00bdfb);
}
.light-purple-custom-checkbox {
  @include customCheckbox(#5f7bff);
}
.orange-custom-checkbox {
  @include customCheckbox(#ff9d00);
}
//=========================================================================//
/// ================start simple radio button =============================//
//=========================================================================//
@mixin basicRadio($bgColor) {
  .basic-radio,
  .custom-checkbox {
    display: flex;
  }
  .basic-radio.flex-space-between,
  .custom-radio.flex-space-between {
    display: flex;
    justify-content: space-between;
  }
  .basic-radio {
    .container-checkbox {
      position: relative;
      padding: 7px 15px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin-bottom: unset !important;
    }

    .container-checkbox input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark-radio {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 18px;
      width: 18px;
      background-color: #ffffff;
      border-radius: 50%;
      border: 1px solid #d5d5d5;
    }

    .checkmark-radio.disabled {
      opacity: 0.5;
      background-color: #c7c7c7;
    }

    .container-checkbox:hover input ~ .checkmark-radio {
      background-color: #ccc;
    }

    .container-checkbox input:checked ~ .checkmark-radio {
      border: 1px solid $bgColor;
      background-color: #ffff;
    }
    .container-checkbox input:checked ~ .checkmark-radio.disabled {
      opacity: 0.5;
      border: 1px solid #d5d5d5;
    }

    .checkmark-radio:after {
      content: "";
      position: absolute;
      display: none;
    }

    .container-checkbox input:checked ~ .checkmark-radio:after {
      display: block;
    }

    .container-checkbox .checkmark-radio:after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $bgColor;
    }

    .container-checkbox .checkmark-radio.disabled:after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #a8a8a8;
    }
  }
}
.purple-basic-radio {
  @include basicRadio(#6d47b2);
}
.green-basic-radio {
  @include basicRadio(#04e262);
}
.pink-basic-radio {
  @include basicRadio(#ff5da5);
}
.blue-basic-radio {
  @include basicRadio(#00bdfb);
}
.light-purple-basic-radio {
  @include basicRadio(#5f7bff);
}
.orange-basic-radio {
  @include basicRadio(#ff9d00);
}
//=========================================================================//
/// ==================end simple radio button =============================//
//=========================================================================//

//=========================================================================//
/// ==================end custom radio button =============================//
//=========================================================================//
@mixin customRadio($bgColor) {
  .basic-radio,
  .custom-radio {
    display: flex;
  }
  .basic-radio.flex-space-between,
  .custom-radio.flex-space-between {
    display: flex;
    justify-content: space-between;
  }
  .custom-radio {
    .container-checkbox {
      position: relative;
      padding: 7px 15px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin-bottom: unset !important;
    }

    .container-checkbox input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark-radio {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 18px;
      width: 18px;
      background-color: #ffffff;
      border-radius: 50%;
      border: 1px solid #d5d5d5;
    }

    .checkmark-radio.disabled {
      opacity: 0.5;
      background-color: #c7c7c7;
    }

    .container-checkbox:hover input ~ .checkmark-radio {
      background-color: #ccc;
    }

    .container-checkbox input:checked ~ .checkmark-radio {
      border: 1px solid $bgColor;
      background-color: $bgColor;
    }
    .container-checkbox input:checked ~ .checkmark-radio.disabled {
      opacity: 0.5;
      border: 1px solid #d5d5d5;
    }

    .checkmark-radio:after {
      content: "";
      position: absolute;
      display: none;
    }

    .container-checkbox input:checked ~ .checkmark-radio:after {
      display: block;
    }

    .container-checkbox .checkmark-radio:after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #ffff;
    }

    .container-checkbox .checkmark-radio.disabled:after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #a8a8a8;
    }
  }
}
.purple-custom-radio {
  @include customRadio(#6d47b2);
}
.green-custom-radio {
  @include customRadio(#04e262);
}
.pink-custom-radio {
  @include customRadio(#ff5da5);
}
.blue-custom-radio {
  @include customRadio(#00bdfb);
}
.light-purple-custom-radio {
  @include customRadio(#5f7bff);
}
.orange-custom-radio {
  @include customRadio(#ff9d00);
}

//=========================================================================//
/// ==================end custom radio button =============================//
//=========================================================================//
